@model Xray;
@{
    ViewData["Title"] = "Add Xray";
}

<div class="card shadow-sm">
    <!--Begin Card::Header-->
    <div class="card-header">
        <h5 class="align-self-center m-0">Add Xray</h5>
    </div>
    <!--End Card::Header-->
    <!--Begin Card::Body-->
    <div class="card-body">
        <form id="XrayForm" method="post" asp-controller="Xray">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <div class="form-floating mb-2">
                            <input class="form-control form-control-solid" asp-for="Name" placeholder="Name..." />
                            <label class="form-label" asp-for="Name"></label>
                        </div>
                        <span class="text-danger d-block" asp-validation-for="Name"></span>
                    </div>
                </div>
                
                
                <div class="col-6">
                    <div class="mb-3">
                        <div class="form-floating mb-2">
                            <select class="form-select form-select-solid js-select2" data-control="select2" data-placeholder="Select Type" data-hide-search="true" asp-for="Type">
                                <option value="">Select X-rays</option>
                                <option value="Panorama">Panorama</option>
                                <option value="CBCT">CBCT</option>
                                <option value="Periapical">Periapical</option>
                                <option value="MRI">MRI</option>
                            </select>
                            <label class="form-label" asp-for="Type"></label>
                        </div>
                        <span class="text-danger d-block" asp-validation-for="Type"></span>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <!--End Card::Body-->
    <!--Begin Card::Footer-->
    <div class="card-footer py-2">
        <button type="submit" class="btn-sm btn btn-primary me-2" form="XrayForm">
            <span class="indicator-label">
                Save
            </span>
            <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a class="btn btn-lignt text-primary" asp-action="Index">Cancel</a>
    </div>
    <!--End Card::Footer-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}